{% load static snicc_i18n %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="robots" content="noindex">

    <link rel="shortcut icon" href="{% static 'main/images/favicon.ico'%}" type="image/vnd.microsoft.icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Google Fonts: Lora -->
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'main/css/icono-arg.css'%}">

    <link rel="stylesheet" type="text/css" href="{% static 'main/css/snic.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    {% block head %}{% endblock %}
</head>
<body>
    <header class="{% if not request.user.is_anonymous %}logged{% endif %}"><!-- Si conectado class="logged"-->
        <nav class="navbar navbar-top p-0">
            <div class="container-fluid g-0">
                <div class="navbar-header">
                    <div class="dropdown" id="buttonPerfilAccesibilidad">
                        <button class="btn-perfil-acces" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                            <img src="{% static 'main/images/icono-accesibilidad.svg'%}" alt="Perfil y Accesibilidad">
                        </button>
                        <div class="dropdown-menu">
                            <div class="content-profile-acces">
                                <ul>
                                    <li><h6 class="dropdown-header">{% ts 'Idioma' lang %}</h6></li>
                                    <li class="position-relative">
                                        <a class="dropdown-item active dropdown-select select-language" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                            <div class="icono-menu lengua"></div><span id="idioma_snic">Español</span><i class="bi bi-check"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-lg-start" id="idioma_dropdown">
                                            {% for l in languages %}
                                            <li><div class="dropdown-item" href="#" data-idioma="{{l.code}}" data-idioma-verbose="{{l}}">{{l}}</div><i class="bi bi-check"></i></li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                </ul>
                                <hr class="dropdown-divider">
                                <ul id="accesibility_buttons">
                                    <li><h6 class="dropdown-header">{% ts 'Accesibilidad' lang %}</h6></li>
                                    <li><a class="dropdown-item" id="grayscale"><div class="icono-menu escala-grises"></div>{% ts 'Escala de grises' lang %}<i class="bi bi-check"></i></a></li>
                                    <li><a class="dropdown-item" id="cursorbig"><div class="icono-menu tamano-cursor"></div>{% ts 'Tamaño de cursor' lang %}<i class="bi bi-check"></i></a></li>
                                    <li><a class="dropdown-item" id="dislexia"><div class="icono-menu tipografia"></div>{% ts 'Tipografia (dislexia)' lang %}<i class="bi bi-check"></i></a></li>
                                    <li><a class="dropdown-item" id="contrast"><div class="icono-menu contraste-color"></div>{% ts 'Contraste de color' lang %}<i class="bi bi-check"></i></a></li>
                                    <li><a class="dropdown-item" id="highlight"><div class="icono-menu resaltar-enlaces"></div>{% ts 'Resaltar enlaces' lang %}<i class="bi bi-check"></i></a></li>
                                    <li><a class="dropdown-item" id="screenmask"><div class="icono-menu mascara-lectura"></div>{% ts 'Máscara de lectura' lang %}<i class="bi bi-check"></i></a></li>
                                    <li><a class="dropdown-item" id="readguide"><div class="icono-menu guia-lectura"></div>{% ts 'Guía de lectura' lang %}<i class="bi bi-check"></i></a></li>
                                    <li><a class="dropdown-item" id="audio"><div class="icono-menu lector-pantalla"></div>{% ts 'Lector de pantalla' lang %}<i class="bi bi-check"></i></a></li>
                                    <li><a class="dropdown-item" href="#"><div class="icono-menu mapa-del-sitio"></div>{% ts 'Mapa del sitio' lang %}<i class="bi bi-check"></i></a></li>
                                </ul>
                            </div>
                            <div class="content-reset-acces"><div class="btn btn-azul btn-small disabled" id="reset_accessibility">Restablecer configuración</div></div>
                        </div>
                    </div>

                    <a class="navbar-brand" href="https://www.argentina.gob.ar/" id="navbar-brand" target="_blank">
                        <img src="{% static 'main/images/logo_argentina-azul.svg'%}" alt="Argentina.gob.ar" height="50" width="254">
                    </a>
                </div>
                <div class="navbar-header navbar-right">
                    <div class="login-text {% if request.user.editor or request.user.is_staff %}is-staff{% endif %}">

                        <!-- Mobiles buttons -->
                        {% if request.user.is_anonymous %}
                        <!--no conectado-->
                            <a class="btn btn-login" href="{% url 'user:login' %}">
                                <span>{% ts 'Ingresar' lang %}</span>
                            </a>
                        {% else %}
                        <!-- conectado -->
                            <a class="btn btn-login" href="{% url 'user:profile' %}">
                                <img src="{% static 'main/images/iconos/user-white.svg'%}" alt="">
                            </a>
                        {% endif %}

                    </div>
                    <button onclick="jQuery('.navbar.navbar-top').addClass('state-search');" class="btn btn-buscar-mobile btn-login visible-xs" aria-labelledby="edit-keys"><img class="search-white" src="{% static 'main/images/iconos/search-white.svg'%}" alt=""><img src="{% static 'main/images/iconos/search.svg'%}" alt=""><span class="sr-only">{% ts 'Buscar' lang %}</span></button>
                    <button onclick="jQuery('.navbar.navbar-top').removeClass('state-search');" class="btn btn-buscar-close-mobile visible-xs"> <i class="fa fa-times"><span class="sr-only">Cerrar el buscador</span></i></button>
                    <form class="main-form search-form" role="search" action="{% url 'mainv2:search' %}" method="get" id="apachesolr-search-custom-page-search-form" accept-charset="UTF-8"><div>
                        <div class="input-group">
                            <input placeholder="{% ts 'Buscá en el sitio' lang %}" class="input-search form-control" id="pattern" name="pattern" value="" size="20" maxlength="255">
                            <span class="input-group-btn">
                            <button class="bg-white btn-search-reset btn btn-primary form-submit" aria-labelledby="edit-keys" aria-label="Buscar" type="submit" id="edit-submit" name="op" value="buscar">
                                <img src="{% static 'main/images/iconos/search.svg'%}" alt=""></i><span class="sr-only">{% ts 'Buscar en el sitio' lang %}</span>
                            </button>
                        </span></div>
                        </div>
                    </form>
                    <div class="staff-buttons">
                        {% if request.user.editor %}
                        <a href="{% url 'dashboard:postlist' %}" class="btn btn-texto btn-login">
                            <i class="bi bi-file-earmark-richtext"></i>
                            <span>Gestión de contenido</span>
                        </a>
                        {% endif %}

                        {% if request.user.is_staff %}
                        <a href="{% url 'admin:index' %}" class="btn btn-texto btn-login">
                            <i class="bi bi-gear-fill"></i>
                            <span>Admin</span>
                        </a>
                        {% endif %}
                    </div>
                    <div class="login-buttons">
                        {% if request.user.is_anonymous %}
                        <!--no conectado-->
                            <a class="btn btn-login" href="{% url 'user:login' %}">
                                <span>{% ts 'Inicia sesión' lang %}</span>
                            </a>
                        {% else %}
                        <!-- conectado -->
                            <a class="btn btn-login" href="{% url 'user:profile' %}">
                                <img src="{% static 'main/images/iconos/user.svg'%}" alt="">                                
                                <span>{{request.user.get_full_name|default:request.user}}</span>
                            </a>
                        {% endif %}

                    </div>

                    <div class="sidebar-mobile">
                        <div class="toggle toggle-sidebar">
                            <a href="#" class="burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

    </header>

    <main>
        <aside class="sidebar">
            <div class="side-inner">
            
                <div class="sidebar-content">
                    <div class="snic-title">
                        <a class="navbar-brand-sidebar" href="{% url 'mainv2:landing' %}">
                            <img src="{% static 'main/images/logo_snic.svg'%}" class="logo-snic" alt="">
                        </a>
                    </div>                 
                    <a href="{% url 'mainv2:landing' %}" class="nav-link" aria-current="page" >
                        <img src="{% static 'main/images/LogoSnicSinLetras.svg' %}" alt="">
                        <span>{% ts 'Inicio' lang %}</span>
                    </a>
                    <a href="{% url 'mainv2:post' 'que-es-el-snic' %}" class="nav-link" aria-current="page" >
                        <img src="{% static 'main/images/sections/sobre-snicc.svg' %}" alt="">
                        <span>{% ts 'Sobre SNIC' lang %}</span>
                    </a>
                    <a href="{% url 'mainv2:post' 'gestion-climatica' %}" class="nav-link" aria-current="page" >
                        <img src="{% static 'main/images/sections/gestion-climatica.svg' %}" alt="">
                        <span>{% ts 'Gestión climática' lang %}</span>
                    </a>
                    <!--
                    <a href="{% url 'mainv2:staticpage' 'recursos.html' %}" class="nav-link" aria-current="page" >
                        <img src="{% static 'main/images/sections/recursos.svg' %}" alt="">
                        <span>{% ts 'Recursos' lang %}</span>
                    </a>
                    -->
                    <a href="{% url 'mainv2:regulations' %}" class="nav-link" aria-current="page" >
                        <img src="{% static 'main/images/sections/normativas.svg' %}" alt="">
                        <span>{% ts 'Normativas' lang %}</span>
                    </a>
                    <a href="{% url 'mainv2:library-front' %}" class="nav-link" aria-current="page" >
                        <img src="{% static 'main/images/sections/biblioteca.svg' %}" alt="">
                        <span>{% ts 'Biblioteca' lang %}</span>
                    </a>
                    <a href="{% url 'mainv2:news' %}" class="nav-link" aria-current="page" >
                        <img src="{% static 'main/images/sections/novedades.svg' %}" alt="">
                        <span>{% ts 'Novedades' lang %}</span>
                    </a>
                    <a href="{% url 'mainv2:enlaces' %}" class="nav-link" aria-current="page" style="align-items: middle;">
                        <img src="{% static 'main/images/sections/enlaces.svg' %}" alt="">
                        <span>{% ts 'Enlaces de interés' lang %}</span>
                    </a>

                    {% if not request.user.is_anonymous %}

                    <!-- conectado -->
                    {% if request.user.is_authenticated and request.user.profile and request.user.profile.specific_url %}
                    <a href="{% url 'mainv2:post' request.user.profile.specific_url %}" class="nav-link nav-profile" aria-current="page" >
                        <img src="{% static 'main/images/iconos/user-gold.svg' %}" alt="">
                        <span>{% ts 'Información para' lang %} {% ts request.user.profile.name lang %}</span>
                    </a>                         
                    {% endif %}
                    <form action="{% url 'logout' %}" method="POST" class="form-logout">
                        {% csrf_token %}
                        <button class="nav-link" href="{% url 'login' %}" type="submit">
                            <img src="{% static 'main/images/iconos/logout.svg' %}" alt="{% ts 'Cerrar sesión' lang %}">
                            <span>{% ts 'Cerrar sesión' lang %}</span>
                        </button>
                    </form>
                    {% endif %}
                    
                </div>
            
            </div>
        </aside>

        <!-- main-content -->
        <div class="main-content ">

            {% block sniclogo %}
            <a class="container-logo snic-tools-logo" href="{% url 'mainv2:landing' %}">
                <img src="{% static 'main/images/logo_snic.svg'%}" class="logo-snic" alt="">
            </a>
            {% endblock %}
            <!-- Si home page
            <a class="container-logo container snic-home-logo" href="{% url 'mainv2:landing' %}">
                <img src="{% static 'main/images/logo_snic.svg'%}" class="logo-snic" alt="">
            </a>-->
            <!--post pages
            <a class="container-logo offset-md-1" href="{% url 'mainv2:landing' %}">
                <img src="{% static 'main/images/logo_snic.svg'%}" class="logo-snic" alt="">
            </a>-->
            <!--others pages
            <a class="container-logo snic-tools-logo" href="{% url 'mainv2:landing' %}">
                <img src="{% static 'main/images/logo_snic.svg'%}" class="logo-snic" alt="">
            </a>-->

            <div class="container-fluid g-0">
            <!-- content -->

                {% block content %}{% endblock %}

                <footer class="main-footer">
                    <div class="container">
                        <div class="row">

                            <div class="col-md-3 col-sm-12 col-footer col-footer-brand">
                                <img src="{% static 'main/images/logo_snic_azul.svg'%}" class="logo-snic" alt="">
                                <p><a href="https://www.argentina.gob.ar/"><img src="{% static 'main/images/logo_argentina-azul.svg'%}" alt="Argentina.gob.ar"></a></p>
                            </div>

                            <div class="col-md-3 col-sm-12 col-footer">
                                <p><a href="{% url 'mainv2:post' 'gestion-climatica' %}">{% ts 'Gestión climática' lang %}</a></p>
                                <p><a href="{% url 'mainv2:staticpage' 'recursos.html' %}">{% ts 'Recursos' lang %}</a></p>
                                <p><a href="{% url 'mainv2:regulations'%}">{% ts 'Normativas' lang %}</a></p>
                            </div>
        
                            <div class="col-md-3 col-sm-12 col-footer">
                                <p><a href="{% url 'mainv2:library-front'%}">{% ts 'Biblioteca' lang %}</a></p>
                                <p><a href="#">{% ts 'Formación y capacitaciones' lang %}</a></p>
                                <p><a href="{% url 'mainv2:enlaces' %}">{% ts 'Enlaces de interés' lang %}</a></p>
                            </div>
        
                            <div class="col-md-3 col-sm-12 col-footer">
                                <p><a href="{% url 'mainv2:post' 'acerca' %}">{% ts 'Acerca de este sitio' lang %}</a></p>
                                <p><a href="{% url 'mainv2:post' 'terminos-y-condiciones' %}">{% ts 'Terminos y condiciones' lang %}</a></p>
                                <p><a href="{% url 'mainv2:post' 'contacto' %}">{% ts 'Contacto' lang %}</a></p>
                            </div>

                        </div>
                    </div>
                    <div class="container-fluid border-top-amarillo">
                        <div class="row sub-footer"><div class="container"></div></div>
                    </div>
                </footer>


            <!-- end content -->
            </div>

        </div>
        <!-- end main-content -->


    </main>
    
    {% block loading %}{% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <!-- Javascript de chaque page -->
    {% block javascript %}{% endblock %}
    <!-- End Javascript de chaque page-->

    <!-- Javascript general -->
    <script src="{% static 'main/js/snic.js'%}"></script>
    <script src="{% static 'main/js/accessibility.js'%}"></script>
    <!-- End Javascript general-->

</body>
</html>