{% extends 'mainv2/base.html' %}
{% load static snicc_i18n %}
{% block sniclogo %}
<a class="container-logo offset-md-1" href="{% url 'mainv2:landing' %}">
    <img src="{% static 'main/images/logo_snic.svg'%}" class="logo-snic" alt="">
</a>
{% endblock %}
{% block content %}
<div class="post-content">
    <div class="col-md-1 social-share">
        {% include 'mainv2/social.html' %}
    </div>
    <div class="post-row-mobile row">
        {% with content=post|translate:lang %}
        <div class="offset-md-1 col-md-10 {% if toc %}col-xl-7 {% endif %}col-post  pe-xl-5">
            <div class="breadcrumbs-content">
                <ol class="breadcrumb" role="list" aria-label="breadcrumb">
                    <li><a href="{% url 'mainv2:landing' %}">{% ts 'Home' lang %}</a></li>
                    {% for p in post.parents %}{% with pcontent=p|translate:lang %}
                    <li><a href="{% url 'mainv2:post' p.slug %}">{{pcontent.title|truncatechars:20}}</a></li>
                    {% endwith %}{% endfor %}
                    <li class="active" aria-current="page">
                        {{content.title|truncatechars:20}}
                    </li>
                </ol>
                {% if request.user.access %}
                    {% if lang.code == 'es' %}
                    <a href="{% url 'dashboard:edit' post.id %}" class="btn btn-texto btn-login">Editar esta publicación</a>
                    {% else %}
                    <a href="{% url 'dashboard:translation' post.id lang.code %}" class="btn btn-texto btn-login">Editar esta traducción</a>
                    {% endif %}
                {% endif %}
            </div>

            <div class="col-md-1 social-share-mobile">
                {% include 'mainv2/social.html' %}
            </div>

            <div class="post">
                <h1 id="posttop" class="post-title">{{content.title}}</h1>

                {% with content=post|translate:lang %}
                <div class="dropdown dropdown-table-contents d-block d-xl-none">
                  <button class="btn dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{% static 'main/images/iconos/multi-folder.svg' %}" alt="Ícono contenidos" width="18" class="me-1 align-text-top">
                    {% ts 'Explorar contenidos' lang %}
                  </button>
                  <ul class="dropdown-menu w-100" style="max-height: 400px; overflow-y: auto;">

                    <li><a class="dropdown-item" href="#posttop">{{ content.title }}</a></li>

                    {% for k in toc %}
                      <li><a class="dropdown-item" href="#{{k.id}}">{{k.name}}</a></li>
                    {% endfor %}

                    {% if post.links.all %}
                      <li><hr class="dropdown-divider"></li>
                      <li class="dropdown-header">{% ts 'Enlaces relacionados' lang %}</li>
                      {% for link in post.links.all %}{% with ccontent=link|translate:lang %}
                        <li>
                          {% if link.view %}
                            {% if link.viewargs %}
                              <a class="dropdown-item" href="{% url link.view link.viewargs %}">{{ ccontent.title }}</a>
                            {% else %}
                              <a class="dropdown-item" href="{% url link.view %}">{{ ccontent.title }}</a>
                            {% endif %}
                          {% else %}
                            <a class="dropdown-item" href="{{ link.url|default:'#' }}" target="_blank" rel="noopener noreferrer">
                              {{ ccontent.title }}
                            </a>
                          {% endif %}
                        </li>
                      {% endwith %}{% endfor %}
                    {% endif %}

                    {% if post.books.all %}
                      <li><hr class="dropdown-divider"></li>
                      <li class="dropdown-header">{% ts 'Documentación' lang %}</li>
                      {% for book in post.books.all %}{% with content=book.book|translate:lang %}
                        <li>
                          <a class="dropdown-item" href="{{ book.book.url|default:'#' }}" target="_blank" rel="noopener noreferrer">
                            {{ content.title }}
                          </a>
                        </li>
                      {% endwith %}{% endfor %}
                    {% endif %}

                  </ul>
                </div>
                {% endwith %}


                <div class="post-text">
                    {{ html|safe }}
                </div>
            </div>
        </div>

        {% if toc %}
        <div class="col-xl-3">
            <div class="col-right-post">
                <div class="table-contents-post">
                    <h5>{% ts 'Tabla de contenidos' lang %}</h5>
                    <ul class="table-contents-list">
                        <li><a href="#posttop">{{ content.title }}</a></li>
                        {% for k in toc %}
                        <li><a href="#{{k.id}}">{{k.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>

              {% if post.links.all %}
              <div class="table-contents-post">
                <h5 style="display:flex; align-items:center;">
                  <img src="{% static 'main/images/iconos/link-alt.svg' %}" alt="Ícono enlace" width="18" style="margin-right: 6px;">
                  {% ts 'Enlaces relacionados' lang %}
                </h5>
                <ul class="table-contents-list">
                  {% for link in post.links.all %}{% with ccontent=link|translate:lang %}
                  <li>
                    {% if link.view %}
                      {% if link.viewargs %}
                        <a href="{% url link.view link.viewargs %}">{{ ccontent.title }}</a>
                      {% else %}
                        <a href="{% url link.view %}">{{ ccontent.title }}</a>
                      {% endif %}
                    {% else %}
                      <a href="{{ link.url|default:'#' }}" target="_blank" rel="noopener noreferrer">
                        {{ ccontent.title }}
                      </a>
                    {% endif %}
                  </li>
                  {% endwith %}{% endfor %}
                </ul>
              </div>
              {% endif %}

              {% if post.books.all %}
              <div class="table-contents-post">
                <h5 style="display:flex; align-items:center;">
                  <img src="{% static 'main/images/iconos/file-6.svg' %}" alt="Ícono documento" width="18" style="margin-right: 6px;">
                  {% ts 'Documentación' lang %}
                </h5>
                <ul class="table-contents-list">
                  {% for book in post.books.all %}{% with content=book.book|translate:lang %}
                  <li>
                    <a href="{{ book.book.url|default:'#' }}" target="_blank" rel="noopener noreferrer">
                      {{ content.title }}
                    </a>
                  </li>
                  {% endwith %}{% endfor %}
                </ul>
              </div>
              {% endif %}


                {% if post.is_news %}
                <div class="subscription-right">
                    <h5>{% ts 'Recibí novedades' lang %}</h5>
                    <p>{% ts 'Suscribite y recibí las últimas novedades sobre cambio climático en tu correo.' lang %}</p>
                    <form class="newsletter-form" role="search" action="subscription.html" method="get" id="apachesolr-search-custom-page-search-form" accept-charset="UTF-8">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="E-mail">
                            <button class="input-group-text" type="submit">
                                <img src="{% static 'main/images/iconos/send.svg' %}" alt="Enviar">
                            </button>
                        </div>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% endwith %}
    </div>
</div>
{% endblock content %}
