{% load static snicc_i18n %}
<div class="section-suscripcion">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="row"><h3>{% ts 'Suscribite a Nuestras Novedades' lang %}</h3></div>
            <div class="row"><p class="p-black">{% ts 'Recibí novedades, eventos especiales, tutoriales, guías y material adicional.' lang %}</p></div>
            <div class="row">
                <form class="newsletter-form" role="search" action="subscription.html" method="get" id="apachesolr-search-custom-page-search-form" accept-charset="UTF-8">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="E-mail">
                        <button class="input-group-text" type="submit">
                            <i class="bi bi-envelope"></i><span>{% ts 'Suscribirme' lang %}</span>
                        </button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
