<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="robots" content="noindex">

    <link rel="shortcut icon" href="main/images/favicon.ico" type="image/vnd.microsoft.icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" type="text/css" href="main/css/icono-arg.css">

    <link rel="stylesheet" type="text/css" href="main/css/snic.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

</head>
<body>
    <header><!-- Si conectado class="logged"-->
        <nav class="navbar navbar-top p-0">
            <div class="container-fluid g-0">
                <div class="navbar-header">
                    <div class="dropdown" id="buttonPerfilAccesibilidad">
                        <button class="btn-perfil-acces" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                            <img src="main/images/icono-accesibilidad.svg" alt="Perfil y Accesibilidad">
                        </button>
                        <div class="dropdown-menu">
                            <div class="content-profile-acces">
                                <ul>
                                    <li><h6 class="dropdown-header">Idioma</h6></li>
                                    <li class="position-relative">
                                        <a class="dropdown-item active dropdown-select select-language" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                            <div class="icono-menu lengua"></div><span id="idioma_snic">Español</span><i class="bi bi-check"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-lg-start" id="idioma_dropdown">
                                            <li><div class="dropdown-item" href="#" data-idioma="Español">Español</div><i class="bi bi-check"></i></li>
                                            <li><div class="dropdown-item" href="#" data-idioma="Mapuche">Mapuche</div><i class="bi bi-check"></i></li>
                                            <li><div class="dropdown-item" href="#" data-idioma="Guaraní">Guaraní</div><i class="bi bi-check"></i></li>
                                            <li><div class="dropdown-item" href="#" data-idioma="Mbya guaraníes">Mbya guaraníes (mbya)</div><i class="bi bi-check"></i></li>
                                            <li><div class="dropdown-item" href="#" data-idioma="Wichí">Wichí</div><i class="bi bi-check"></i></li>
                                            <li><div class="dropdown-item" href="#" data-idioma="Quechua">Quechua</div><i class="bi bi-check"></i></li>
                                            <li><div class="dropdown-item" href="#" data-idioma="Toba">Toba (qom)</div><i class="bi bi-check"></i></li>
                                            <li><div class="dropdown-item" href="#" data-idioma="Gününa-küne">Gününa-küne</div><i class="bi bi-check"></i></li>
                                        </ul>
                                    </li>
                                </ul>
                                <hr class="dropdown-divider">
                                <ul id="accesibility_buttons">
                                    <li><h6 class="dropdown-header">Accesibilidad</h6></li>
                                    <li><a class="dropdown-item" id="grayscale"><div class="icono-menu escala-grises"></div>Escala de grises<i class="bi bi-check"></i></a></li>
                                    <li><a class="dropdown-item" id="cursorbig"><div class="icono-menu tamano-cursor"></div>Tamaño de cursor<i class="bi bi-check"></i></a></li>
                                    <li><a class="dropdown-item" id="dislexia"><div class="icono-menu tipografia"></div>Tipografia (dislexia)<i class="bi bi-check"></i></a></li>
                                    <li><a class="dropdown-item" id="contrast"><div class="icono-menu contraste-color"></div>Contraste de color<i class="bi bi-check"></i></a></li>
                                    <li><a class="dropdown-item" id="highlight"><div class="icono-menu resaltar-enlaces"></div>Resaltar enlaces<i class="bi bi-check"></i></a></li>
                                    <li><a class="dropdown-item" id="screenmask"><div class="icono-menu mascara-lectura"></div>Máscara de lectura<i class="bi bi-check"></i></a></li>
                                    <li><a class="dropdown-item" id="readguide"><div class="icono-menu guia-lectura"></div>Guía de lectura<i class="bi bi-check"></i></a></li>
                                    <li><a class="dropdown-item" id="audio"><div class="icono-menu lector-pantalla"></div>Lector de pantalla<i class="bi bi-check"></i></a></li>
                                    <li><a class="dropdown-item" href="#"><div class="icono-menu mapa-del-sitio"></div>Mapa del sitio<i class="bi bi-check"></i></a></li>
                                </ul>
                            </div>
                            <div class="content-reset-acces"><div class="btn btn-azul btn-small disabled" id="reset_accessibility">Restablecer configuración</div></div>
                        </div>
                    </div>

                    <a class="navbar-brand" href="index.html" id="navbar-brand">
                        <img src="main/images/logo_argentina-azul.svg" alt="Argentina.gob.ar" height="50" width="254">
                    </a>
                </div>
                <div class="navbar-header navbar-right">
                    <div class="login-text">

                        <!--no conectado-->
                        <a class="btn btn-login" href="inicia-sesion.html">
                            <span>Ingresar</span>
                        </a>

                        <!--conectado
                        <a class="btn btn-login" href="mi-perfil.html">
                            <img src="main/images/iconos/user-white.svg" alt="">
                        </a>-->

                    </div>
                    <button onclick="jQuery('.navbar.navbar-top').addClass('state-search');" class="btn btn-buscar-mobile btn-login visible-xs" aria-labelledby="edit-keys"><img class="search-white" src="main/images/iconos/search-white.svg" alt=""><img src="main/images/iconos/search.svg" alt=""><span class="sr-only">Buscar</span></button>
                    <button onclick="jQuery('.navbar.navbar-top').removeClass('state-search');" class="btn btn-buscar-close-mobile visible-xs"> <i class="fa fa-times"><span class="sr-only">Cerrar el buscador</span></i></button>
                    <form class="main-form search-form" role="search" action="buscar.html" method="get" id="apachesolr-search-custom-page-search-form" accept-charset="UTF-8"><div>
                        <div class="input-group">
                            <input placeholder="Buscá en el sitio" class="input-search form-control" id="pattern" name="pattern" value="" size="20" maxlength="255">
                            <span class="input-group-btn">
                            <button class="bg-white btn-search-reset btn btn-primary form-submit" aria-labelledby="edit-keys" aria-label="Buscar" type="submit" id="edit-submit" name="op" value="buscar">
                                <img src="main/images/iconos/search.svg" alt=""></i><span class="sr-only">Buscar en el sitio</span>
                            </button>
                        </span></div>
                        </div>
                    </form>

                    <!--admin-->
                        <!--<div class="staff-buttons">
                            <a href="#admin" class="btn btn-texto btn-login">
                                <i class="bi bi-file-earmark-richtext"></i>
                                <span>Gestión de contenido</span>
                            </a>
                            
                            <a href="#admin" class="btn btn-texto btn-login">
                                <i class="bi bi-gear-fill"></i>
                                <span>Admin</span>
                            </a>
                        </div>-->
                    <!--end admin-->

                    <div class="login-buttons">

                        <!--no conectado-->
                            <a class="btn btn-login" href="inicia-sesion.html">
                                <span>Inicia sesión</span>
                            </a>

                        <!-- conectado
                            <a class="btn btn-login" href="mi-perfil.html">
                                <img src="main/images/iconos/user.svg" alt="">
                                <span>Federico Lagreze</span>
                            </a>-->


                        
                    </div>
                    <div class="sidebar-mobile">
                        <div class="toggle toggle-sidebar">
                            <a href="#" class="burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

    </header>

    <main>
        <aside class="sidebar">
            <div class="side-inner">
            
                <div class="sidebar-content">
                    <div class="snic-title">
                        <a class="navbar-brand-sidebar" href="index.html">
                            <img src="main/images/logo_snic.svg" class="logo-snic" alt="">
                        </a>
                    </div>
                    <!--<a class="nav-link {% if cat_id == c.id %} active{% endif %}" aria-current="page" href="http://localhost:8080/posts/mye">
                        <img src="main/images/mye/mye.svg" alt="">
                        <span>Módulo de Monitoreo y Evaluación</span>
                    </a>-->
                    <a href="sobre-snic.html" class="nav-link active" aria-current="page" >
                        <img src="main/images/sections/sobre-snic.svg" alt="">
                        <span>Sobre SNIC</span>
                    </a>
                    <a href="gestion-climatica.html" class="nav-link" aria-current="page" >
                        <img src="main/images/sections/gestion-climatica.svg" alt="">
                        <span>Gestión climática</span>
                    </a>
                    <a href="recursos.html" class="nav-link" aria-current="page" >
                        <img src="main/images/sections/recursos.svg" alt="">
                        <span>Recursos</span>
                    </a>
                    <a href="normativas.html" class="nav-link" aria-current="page" >
                        <img src="main/images/sections/normativas.svg" alt="">
                        <span>Normativas</span>
                    </a>
                    <a href="biblioteca.html" class="nav-link" aria-current="page" >
                        <img src="main/images/sections/biblioteca.svg" alt="">
                        <span>Biblioteca</span>
                    </a>
                    <a href="novedades.html" class="nav-link" aria-current="page" >
                        <img src="main/images/sections/novedades.svg" alt="">
                        <span>Novedades</span>
                    </a>
                    <a href="enlaces-de-interes.html" class="nav-link" aria-current="page" >
                        <img src="main/images/sections/enlaces.svg" alt="">
                        <span>Enlaces de interés</span>
                    </a>

                    <!-- Si conectado
                    <a href="#enlace-perfil" class="nav-link nav-profile" aria-current="page" >
                        <img src="main/images/perfiles/gestor-publico-locales_gold.svg" alt="">
                        <span>Información para Gestores Públicos Locales</span>
                    </a>
                    <form action="{% url 'logout' %}" method="POST" class="form-logout">
                        {% csrf_token %}
                        <a href="{% url 'login' %}" class="nav-link" aria-current="page">
                            <img src="main/images/iconos/logout.svg" alt="">
                            <span>Cerrar sesión</span>
                        </a>
                    </form>-->
                    
                </div>
            
            </div>
        </aside>

        <!-- main-content -->
        <div class="main-content "><!--{% block staff-class %}{% endblock %}-->

            <!-- Si home page class="snic-home-logo"
            <div class="container-logo container snic-home-logo"> 
                <img src="main/images/logo_snic.svg" class="logo-snic" alt="">
            </div> -->
            <!--post pages
            <div class="container-logo offset-md-1">
                <img src="main/images/logo_snic.svg" class="logo-snic" alt="">
            </div>-->
            <!--others pages-->
            <div class="container-logo snic-tools-logo">
                <img src="main/images/logo_snic.svg" class="logo-snic" alt="">
            </div>

            <div class="container-fluid g-0">
            <!-- content -->

                <!-- Links page -->
                <div class="link-new-norm-content">
                    
                    <div class="post-row-mobile row">
                        <h1 class="post-title">Enlaces de interés</h1>
                        
                        <div class="col-md-3 col-categories">
                            <div class="cat-content">
                                <h5>Categorias</h5>
                                <a href="#" class="active">
                                    <span>Adaptación</span> 
                                    <span class="badge text-bg-secondary">14</span>
                                </a>
                                <a href="#">
                                    <span>Perdidas y daños</span> 
                                    <span class="badge text-bg-secondary">14</span>
                                </a>
                                <a href="#">
                                    <span>Mitigación</span> 
                                    <span class="badge text-bg-secondary">14</span>
                                </a>
                                <a href="#">
                                    <span>Capacitacion</span> 
                                    <span class="badge text-bg-secondary">14</span>
                                </a>
                                <a href="#">
                                    <span>Normativas</span> 
                                    <span class="badge text-bg-secondary">14</span>
                                </a>
                            </div>
                            <div class="dropdown dropdown-categories">
                                <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Categorias
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item active" href="#">
                                            <span>Adaptación</span>
                                            <span class="badge text-bg-secondary">14</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <span>Perdidas y daños</span>
                                            <span class="badge text-bg-secondary">14</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <span>Mitigación</span>
                                            <span class="badge text-bg-secondary">14</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <span>Capacitacion</span>
                                            <span class="badge text-bg-secondary">14</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <span>Normativas</span>
                                            <span class="badge text-bg-secondary">14</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-8 col-post">

                            <div class="links-content">
                                <div class="row-link">
                                    <h2>Inventario Nacional de Gases de Efecto Invernadero y Monitoreo de Medidas de Mitigación</h2>
                                    <p>El Inventario Nacional de Gases de Efecto Invernadero permite identificar aquellos sectores del país con mayor potencial de reducción de emisiones a través de la implementación de Medidas de Mitigación.</p>
                                    <a href="https://inventariogei.ambiente.gob.ar/" target="_blank" class="btn btn-azul-claro">Ir al sitio</a>
                                </div>

                                <div class="row-link">
                                    <h2>SIMARCC - Sistema de Mapas de Riesgo de Cambio Climático</h2>
                                    <p>Ofrece mapas detallados que muestran los riesgos climáticos en diferentes regiones del país, como inundaciones, sequías, granizo, vientos intensos, incendios y heladas</p>
                                    <a href="https://simarcc.ambiente.gob.ar/" target="_blank" class="btn btn-azul-claro">Ir al sitio</a>
                                </div>

                                <div class="row-link">
                                    <h2>Centro de Información Ambiental (CIAM)</h2>
                                    <p>Plataforma que agrupa datos, estadísticas, informes de monitoreo, mapas, infografías y otros recursos relacionados con el medio ambiente</p>
                                    <a href="https://ciam.ambiente.gob.ar/" target="_blank" class="btn btn-azul-claro">Ir al sitio</a>
                                </div>

                                <div class="row-link">
                                    <h2>Gestión del impacto climático</h2>
                                    <p>Un compromiso frente a la crisis global</p>
                                    <a href="https://www.argentina.gob.ar/interior/ambiente" target="_blank" class="btn btn-azul-claro">Ir al sitio</a>
                                </div>

                            </div>

                            <div class="pagination-content">
                                <nav aria-label="...">
                                    <ul class="pagination">

                                        <li class="page-item disabled active" aria-current="page">
                                            <a class="page-link" href="#">1</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">2</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">3</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">4</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">5</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">6</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">7</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">8</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">9</a>
                                        </li>

                                        <li class="page-item">
                                            <a class="page-link" href="#">+</a>
                                          </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">></a>
                                        </li>

                                    </ul>
                                </nav>
                            </div>

                        </div>
                        
                    </div>
                    
                    <div class="section-suscripcion">
                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                <div class="row"><h3>Suscribite a Nuestras Novedades</h3></div>
                                <div class="row"><p class="p-black">Recibí novedades, eventos especiales, tutoriales, guías y material adicional.</p></div>
                                <div class="row">
                                    <form class="newsletter-form" role="search" action="subscription.html" method="get" id="apachesolr-search-custom-page-search-form" accept-charset="UTF-8">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="E-mail">
                                            <button class="input-group-text" type="submit">
                                                <i class="bi bi-envelope"></i><span>Suscribirme</span>
                                            </button>
                                            </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    
                <!-- end post page -->

                <footer class="main-footer">
                    <div class="container">
                        <div class="row">

                            <div class="col-md-3 col-sm-12 col-footer col-footer-brand">
                                <img src="main/images/logo_snic_azul.svg" class="logo-snic" alt="">
                                <p><a href="#"><img src="main/images/logo_argentina-azul.svg" alt="Argentina.gob.ar"></a></p>
                            </div>

                            <div class="col-md-3 col-sm-12 col-footer">
                                <p><a href="#">Gestión climática</a></p>
                                <p><a href="#">Recursos</a></p>
                                <p><a href="#">Normativas</a></p>
                            </div>

                            <div class="col-md-3 col-sm-12 col-footer">
                                <p><a href="#">Biblioteca</a></p>
                                <p><a href="#">Formación y capacitaciones</a></p>
                                <p><a href="#">Enlaces de interés</a></p>
                            </div>

                            <div class="col-md-3 col-sm-12 col-footer">
                                <p><a href="#">Acerca de este sitio</a></p>
                                <p><a href="#">Terminos y condiciones</a></p>
                                <p><a href="#">Contacto</a></p>
                            </div>

                        </div>
                    </div>
                    <div class="container-fluid border-top-amarillo">
                        <div class="row sub-footer"><div class="container"></div></div>
                    </div>
                </footer>


            <!-- end content -->
            </div>

        </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <!-- Javascript de chaque page -->
    <!-- {% block javascript %}{% endblock%} -->
    <!-- End Javascript de chaque page-->

    <!-- Javascript general -->
    <script src="main/js/snic.js"></script>
    <script src="main/js/accessibility.js"></script>
    <!-- End Javascript general-->

</body>
</html>